<div class="s-bull">
  <%(1..22).each do |n| %>
    <div class="hole hole-bull hole3-<%= n %>" data-absolute_r="24" data-absolute_0="<%= zero_standard(n, 22, 6) %>" data-index_r="3" data-index_n="<%= n %>" data-value="50" data-name="S BULL" data-multiplier="single"></div>
  <% end %>
  <% (1..28).each do |n| %>
    <div class="hole hole-bull hole4-<%= n %>" data-absolute_r="29" data-absolute_0="<%= bull_top_standard(n, 28) %>" data-index_r="4" data-index_n="<%= n %>" data-value="50" data-name="S BULL" data-multiplier="single"></div>
  <% end %>
  <% (1..34).each do |n| %>
    <div class="hole hole-bull hole5-<%= n %>" data-absolute_r="34" data-absolute_0="<%= zero_standard(n, 34, 9) %>" data-index_r="5" data-index_n="<%= n %>" data-value="50" data-name="S BULL" data-multiplier="single"></div>
  <% end %>
  <% (1..38).each do |n| %>
    <div class="hole hole-bull hole6-<%= n %>" data-absolute_r="41" data-absolute_0="<%= zero_standard(n, 38, 10) %>" data-index_r="6" data-index_n="<%= n %>" data-value="50" data-name="S BULL" data-multiplier="single"></div>
  <% end %>
</div>

<div class="d-bull">
  <div class="hole hole-bull" data-absolute_r="0" data-absolute_0="0" data-index_r="0" data-index_n="0" data-value="50" data-name="D BULL" data-multiplier="double"></div>
  <% (1..7).each do |n| %>
    <div class="hole hole-bull hole1-<%= n %>" data-absolute_r="8" data-absolute_0="<%= bull_top_standard(n, 7) %>" data-index_r="1" data-index_n="<%= n %>" data-value="50" data-name="D BULL" data-multiplier="double"></div>
  <% end %>
  <% (1..14).each do |n| %>
    <div class="hole hole-bull hole2-<%= n %>" data-absolute_r="15" data-absolute_0="<%= bull_top_standard(n, 14) %>" data-index_r="2" data-index_n="<%= n %>" data-value="50" data-name="D BULL" data-multiplier="double"></div>
  <% end %>
</div>
