<div class="circle-4">
  <% @segment_index.each_with_index do |segment, number| %>
    <div class="segment <%= number.even? ? 'black' : 'white' %>" data-value="<%= segment %>" data-name="SINGLE <%= segment %>" style="transform: rotate(<%= number * 18 %>deg);">
      <div class="hole hole7" data-absolute_r="7" data-absolute_0="<%= zero_standard(number, 20, 5) %>" data-index_r="7" data-index_n="<%= number %>" data-value="<%= segment %>" data-name="SINGLE <%= segment %>" data-multiplier="single" data-bull-target="hole" data-action="click->hole#click"></div>
      <div class="hole hole8" data-absolute_r="8" data-absolute_0="<%= zero_standard(number, 20, 5) %>" data-index_r="8" data-index_n="<%= number %>" data-value="<%= segment %>" data-name="SINGLE <%= segment %>" data-multiplier="single" data-bull-target="hole" data-action="click->hole#click"></div>
      <div class="hole hole9" data-absolute_r="9" data-absolute_0="<%= zero_standard(number, 20, 5) %>" data-index_r="9" data-index_n="<%= number %>" data-value="<%= segment %>" data-name="SINGLE <%= segment %>" data-multiplier="single" data-bull-target="hole" data-action="click->hole#click"></div>
      <div class="hole hole10-1" data-absolute_r="10" data-absolute_0="<%= zero_standard(2 * number, 40, 10.5) %>" data-index_r="10" data-index_n="<%= 2 * number %>" data-value="<%= segment %>" data-name="SINGLE <%= segment %>" data-multiplier="single" data-bull-target="hole" data-action="click->hole#click"></div>
      <div class="hole hole10-2" data-absolute_r="10" data-absolute_0="<%= zero_standard(2 * number + 1, 40, 10.5) %>" data-index_r="10" data-index_n="<%= 2 * number + 1 %>" data-value="<%= segment %>" data-name="SINGLE <%= segment %>" data-multiplier="single" data-bull-target="hole" data-action="click->hole#click"></div>
        <% (11..14).each do |d| %>
          <% (1..3).each do |n| %>
            <div class="hole hole<%= d %>-<%= n %>" data-absolute_r="<%= d %>" data-absolute_0="<%= zero_standard(3 * number + n, 60, 17) %>" data-index_r="<%= d %>" data-index_n="<%= 3 * number + n %>" data-value="<%= segment %>" data-name="SINGLE <%= segment %>" data-multiplier="single" data-bull-target="hole" data-action="click->hole#click"></div>
          <% end %>
        <% end %>
        <% (15..18).each do |d| %>
          <% (1..4).each do |n| %>
            <div class="hole hole<%= d %>-<%= n %>" data-absolute_r="<%= d %>" data-absolute_0="<%= zero_standard(4 * number + n, 80, 22.5) %>" data-index_r="<%= d %>" data-index_n="<%= 4 * number + n %>" data-value="<%= segment %>" data-name="SINGLE <%= segment %>" data-multiplier="single" data-bull-target="hole" data-action="click->hole#click"></div>
          <% end %>
        <% end %>
        <% (19..21).each do |d| %>
          <% (1..5).each do |n| %>
            <div class="hole hole<%= d %>-<%= n %>" data-absolute_r="<%= d %>" data-absolute_0="<%= zero_standard(5 * number + n, 100, 28) %>" data-index_r="<%= d %>" data-index_n="<%= 5 * number + n %>" data-value="<%= segment %>" data-name="SINGLE <%= segment %>" data-multiplier="single" data-bull-target="hole" data-action="click->hole#click"></div>
          <% end %>
        <% end %>
        <% (22..24).each do |d| %>
          <% (1..6).each do |n| %>
            <div class="hole hole<%= d %>-<%= n %>" data-absolute_r="<%= d %>" data-absolute_0="<%= zero_standard(6 * number + n, 120, 33.5) %>" data-index_r="<%= d %>" data-index_n="<%= 6 * number + n %>" data-value="<%= segment %>" data-name="SINGLE <%= segment %>" data-multiplier="single" data-bull-target="hole" data-action="click->hole#click"></div>
          <% end %>
        <% end %>
        <% (25..27).each do |d| %>
          <% (1..7).each do |n| %>
            <div class="hole hole<%= d %>-<%= n %>" data-absolute_r="<%= d %>" data-absolute_0="<%= zero_standard(7 * number + n, 140, 39) %>" data-index_r="<%= d %>" data-index_n="<%= 7 * number + n %>" data-value="<%= segment %>" data-name="SINGLE <%= segment %>" data-multiplier="single" data-bull-target="hole" data-action="click->hole#click"></div>
          <% end %>
        <% end %>
        <% (28..30).each do |d| %>
          <% (1..8).each do |n| %>
            <div class="hole hole<%= d %>-<%= n %>" data-absolute_r="<%= d %>" data-absolute_0="<%= zero_standard(8 * number + n, 160, 44.5) %>" data-index_r="<%= d %>" data-index_n="<%= 8 * number + n %>" data-value="<%= segment %>" data-name="SINGLE <%= segment %>" data-multiplier="single" data-bull-target="hole" data-action="click->hole#click"></div>
          <% end %>
        <% end %>
        <% (31..33).each do |d| %>
          <% (1..9).each do |n| %>
            <div class="hole hole<%= d %>-<%= n %>" data-absolute_r="<%= d %>" data-absolute_0="<%= zero_standard(9 * number + n, 180, 50) %>" data-index_r="<%= d %>" data-index_n="<%= 9 * number + n %>" data-value="<%= segment %>" data-name="SINGLE <%= segment %>" data-multiplier="single" data-bull-target="hole" data-action="click->hole#click"></div>
          <% end %>
        <% end %>
        <% (34..35).each do |d| %>
          <% (1..10).each do |n| %>
            <div class="hole hole<%= d %>-<%= n %>" data-absolute_r="<%= d %>" data-absolute_0="<%= zero_standard(10 * number + n, 200, 55.5) %>" data-index_r="<%= d %>" data-index_n="<%= 10 * number + n %>" data-value="<%= segment %>" data-name="SINGLE <%= segment %>" data-multiplier="single" data-bull-target="hole" data-action="click->hole#click"></div>
          <% end %>
        <% end %>
    </div>
  <% end %>
</div>
