<% (64..69).each do |d| %>
  <% (0...440).each do |n| %>
    <div class="hole hole<%= d %>" 
      data-absolute_r="<%= d %>" data-absolute_0="<%= out_top_standard(n, 440) %>" 
      data-index_r="<%= d %>" data-index_n="<%= n + 1 %>" 
      data-value="0" data-name="OUT" 
      data-multiplier="out"
      style="--i: <%= n %>;"></div>
  <% end %>
<% end %>
<% @segment_index.each_with_index do |segment, number| %>
  <div class="number" style="transform: rotate(<%= number * 18 %>deg);">
    <div style="transform: rotate(<%= number * -18 %>deg);"><%= segment %></div>
  </div>
<% end %>
