<h1>ユーザ一覧</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>性別</th>
      <th>年齢</th>
      <th>ダーツ経験</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.gender_i18n %></td>
        <td><%= user.age %></td>
        <td><%= user.experience %></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
