<div class="s-bull">
  <%(1..22).each do |n| %>
    <div class="hole hole3-<%= n %>"></div>
  <% end %>
  <% (1..28).each do |n| %>
    <div class="hole hole4-<%= n %>"></div>
  <% end %>
  <% (1..34).each do |n| %>
    <div class="hole hole5-<%= n %>"></div>
  <% end %>
  <% (1..38).each do |n| %>
    <div class="hole hole6-<%= n %>"></div>
  <% end %>
  <div class="d-bull">
    <div class="hole"></div>
    <% (1..7).each do |n| %>
      <div class="hole hole1-<%= n %>"></div>
    <% end %>
    <% (1..14).each do |n| %>
      <div class="hole hole2-<%= n %>"></div>
    <% end %>
  </div>
</div>
