<div class="container mt-4">

  <div class="row">
    <!-- 計測 -->
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h2 class="card-title mb-3">計測</h2>

          <h5>ユーザ選択</h5>

          <%= form_with url: login_path, method: :post do |f| %>
            <div class="mb-3">
              <%= f.select :user_id,
                    options_from_collection_for_select(@users, :id, :name),
                    { prompt: "ユーザを選択" },
                    { class: "form-select" , required: true } %>
            </div>

            <%= f.submit "決定",class: "btn btn-primary" %>
          <% end %>

          <hr>

          <p class="text-muted mb-1">
            未登録の方
            <%= link_to "登録", new_user_path, class: "btn btn-outline-secondary btn-sm" %>
          </p>
        </div>
      </div>
    </div>

    <!-- データ閲覧 -->
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h2 class="card-title">データ閲覧</h2>

          <%= link_to "データ閲覧",
                logs_path,
                class: "btn btn-outline-primary mt-2" %>
        </div>
      </div>
    </div>
  </div>

  <div class="card shadow-sm">
    <div class="card-body">
      <h2 class="card-title">ユーザ管理</h2>
      <%= link_to "ユーザ一覧", users_path, class: "btn btn-outline-dark mt-2" %>
    </div>
  </div>

</div>
