<div class="position-relative" data-controller="zero-one target" data-zero-one-game-id-value="<%= @game.id %>" data-start-score="<%= @game.start_score %>">
  <div class="board position-absolute top-0 ms-2" data-action="click->zero-one#click">
    <% cache "dartboard" do %>
      <%= render "records/board/out" %>
      <%= render "records/board/double" %>
      <%= render "records/board/outer-single" %>
      <%= render "records/board/triple" %>
      <%= render "records/board/inner-single" %>
      <%= render "records/board/bull" %>
    <% end %>
  </div>

  <%= render "records/result", js_controller: "zero-one" %>
  
  <%= render "records/modal-target-form" %>

  <div class="position-absolute top-0 end-0 p-1">
    <div class="score-box" data-zero-one-target="scoreBox">
      <%= @game.start_score %>
    </div>
    <div class="round-box mt-2 ms-auto" data-zero-one-target="roundBox">
      <% (1..10).each do |n| %>
      <div class="d-flex">
        <span class="ps-1 round-label">R<%= n %></span>
        <span class="pe-3 round-score" data-zero-one-target="roundScore">-</span>
      </div>
      <% end %>
    </div>
  </div>
</div>
